@model WebStore.Models.EmployeeView
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <p>@Html.ActionLink("На главную", "Index")</p>
    <table>
        <tr>
            <td>@Model.FirstName</td>
            <td>@Model.SurName</td>
            <td>@Model.Age</td>
            <td>@Model.Department</td>
        </tr>
    </table>
</body>
</html>
