@model EmployeeView
@{
    ViewBag.Title = "Details";
}

<div class="container">
    <p>@Html.ActionLink("Назад к списку", "Index")</p>
    <table class="table table-condensed">
        <tr>
            <td>Фамилия</td>
            <td>@Model.SurName</td>
            <td>Имя</td>
            <td>@Model.FirstName</td>
            <td>Отчество</td>
            <td>@Model.Patronymic</td>
            <td>Возраст</td>
            <td>@Model.Age</td>
            <td>Отдел</td>
            <td>@Model.Department</td>
        </tr>
    </table>
</div>